.todo {
  &__completed--list {
    li {
      position: relative;
      box-sizing: border-box;
      display: flex;
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #ff7775f3;

      margin: 0 0 10px 0;

      &:last-child {
        border: 0;
      }

      &:hover {
        background: #f59b99b7;

        & .button--delete {
          opacity: 1;
        }
      }
    }

    .label {
      margin-left: 15px;

      &__is-readonly {
        width: calc(100% - 135px);

        .label__input {
          position: relative;
          bottom: 5px;
          left: 20px;
          width: 100%;
          font-size: 16px;
          line-height: 24px;
        }
      }

      .input {
        &__is-readonly {
          display: none;
        }
      }
    }

    .button {
      &--delete {
        margin-top: 4px;
        background: transparent;
        opacity: 0;
      }
    }
  }
}
