.todo {
  &-main {
    width: 430px;
    margin: 100px auto;
    border-radius: 15px;
    background: #ff7775e1;
    box-shadow: -15px -15px rgba(116, 115, 115, 0.075);
  }

  &-header {
    padding: 15px 15px;

    &__date-wrapper {
      .date--day,
      .date--month,
      .date--date,
      .date--year {
        font-size: 26px;
        font-weight: 500;
        line-height: 32px;
        margin-left: 10px;
        color: #fff;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  &-nav {
    padding: 0 15px;
    margin-bottom: 10px;

    &__task--counts {
      float: left;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }

    &__task--links {
      float: right;
    }

    ::after {
      clear: both;
      content: '';
      display: table;
    }

    .button {
      margin-right: 8px;
      text-transform: uppercase;
      color: #fff;

      &:last-child {
        margin: 0;
      }

      &--all {
        min-width: 35px;
        border-radius: 20px;
        color: #fff;
        background: #ff4d4f;
      }
    }
  }
}
