.label {
  position: relative;

  .checkbox {
    position: absolute;
    opacity: 0;

    &:checked ~ .icon-cover {
      background: #fff;
      opacity: 1;

      .icon--check {
        display: block;
      }
    }
  }

  .icon-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    margin: 0 15px;
    line-height: 15px;
    border-radius: 3px;
    border: 1px solid #fff;
    background: transparent;

    .icon--check {
      margin: -1px;
      border-radius: 2px;
      display: none;
    }
  }
}
